# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.orig.*
.expo-shared/

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp

# Type generation
src/types/database.ts
